extends base.pug
include components/video

block content
    div.video_detail_container
        div.video_detail_video
            video(src="/" + video.fileUrl, controls, autoplay, height="600px",data-id=video._id)
        div.video_detail_description
            div.video_detail_description_title=video.title
            div.video_detail_description_description=video.description
            div.video_detail_description_description #{video.meta.views} views
            div.video_detail_description_description=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        if owner
            div.owner_container
                a(href=`${video.id}/edit`) Edit Video
                br
                a(href=`${video.id}/delete`) Delete Video
        div.comments_container
            div.comments_container_title
                span Comments #{comments.length}
            if loggedIn
                div.video_comments
                    div.my_avatar
                        img(src=`/${loggedInUser.avatarUrl ? loggedInUser.avatarUrl : "uploads/user.jpeg"}`)
                    form.video_comment_form
                        div.textarea(role="textbox" contenteditable="true")
                        button(type="submit") Comment
            each comment in comments.reverse() 
                div.comments_container_payload(data-id=comment.id)
                    div.comments_container_payload_left
                        img.avatarUrl(src=`/${comment.avatarUrl ? comment.avatarUrl : "uploads/user.jpeg"}`)
                    div.comments_container_payload_right
                        div.username
                            div.username_item=comment.username
                            div.createdAt=new Date(comment.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', })
                        div.payload=comment.payload
                        
                        if loggedInUser._id===comment.ownerId
                            div.comment_delete(data-id=comment.id) 
                                i.fas.fa-trash
block scripts
    script(src="/static/js/videoPlayer.js") 
    if loggedIn
        script(src="/static/js/commentSection.js")